body{
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(36,36,36);
}

#demo {
  /* fill: #fff; */
  stroke: #7d2d68;
  /* stroke-width: 5px; */
  /* stroke-dasharray: 300; */
  /* stroke-dashoffset: 50; */
  stroke-dashoffset: 145px;
  stroke-dasharray: 1353px;
  stroke-dashoffset: 1400px;
  /* animation: move 1s infinite; */
  animation: move 5s ease-in-out;
  animation-fill-mode: forwards;

}

@keyframes move {
    100% {
        stroke-dashoffset: 1;
    }
}
